.space{
	

	margin-top: -10px;
}
body{

background:url(images/backg.png);
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
color: #333; 
}

.superbox{
background-color: #6dc95e;
box-shadow: 0 0 5px rgba(0,0,0,0.2);
padding: 30px;
border-radius: 0px;
margin-bottom: 10px;
}

.container{

	width: 900px;
	margin: 0px auto;
}

.NEaD{
background: url("images/NEaD.png") no-repeat;
width: 150px ;
height: 116px;
 background-size: 110px 85px;
 float:right;
 margin-top: 10px;
}
.meioleft{
	width: 50%;
	 float: left;
	 margin-top: -15px;
}

.bs-callout {
margin: 20px 0;
padding: 10px;
border-left: 5px solid #eee;
height: 105px;
 
-webkit-box-shadow: 1px 1px 9px 0px rgba(50, 50, 50, 0.62);
-moz-box-shadow:    1px 1px 9px 0px rgba(50, 50, 50, 0.62);
box-shadow:         1px 1px 9px 0px rgba(50, 50, 50, 0.62);

}


.tarefalista{
display: block;

 position: relative;
background-color: #e4f4f8;
 
width: 645px;
margin-left: -1px;
height: auto;
z-index: 0;
  
padding: 20px;
sborder-bottom: 1px solid #0aa8cb;
border-left:10px solid #0aa8cb;

 transition: height, background-color .2s linear;
    -webkit-transition:  height, background-color .2s linear;
    -moz-transition:  height, background-color .2s linear;
    -o-transition:  height, background-color .2s linear;
 }
.tarefalista h1{
color: #163311;
font-size: 25px;
text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
margin-top: 1px;
}
.tarefalista h2{

font-size: : 18px;

}
.tarefalista p{



}


.bs-callout-warning {
background-color: #fbf3e8;
border-color: #f0ad4e;
}

.bs-callout-danger {
background-color: #fdf7f7;
border-color: #d9534f;
}

.bs-callout-info {
background-color: #e4f4f8;
border-color: #0aa8cb;
}

.bs-callout-success {
background-color: #e2f4df;
border-color: #47c331;
}

.ipad{
 	margin-top: 145px;
	background: url("images/ipad.png") no-repeat;
	width: 980px;
	height: 100%;
	position: fixed;
	z-index: -2;
}


.tarefas{
width: 695px;
margin-top: 115px;
margin-left: 106px;
position: fixed;
height: 100%;
 
background: rgba(255,255,255, 1);
 
}







 
#circularG{
position:fixed;
margin-top: 170px;
margin-left: 405px;
width:85px;
height:85px;
z-index: -1 ;}


.circularG{
position:absolute;
background-color:#1E89E6;
width:19px;
height:19px;
-moz-border-radius:13px;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:1.2s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:13px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:1.2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:13px;
-ms-animation-name:bounce_circularG;
-ms-animation-duration:1.2s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:13px;
-o-animation-name:bounce_circularG;
-o-animation-duration:1.2s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:13px;
animation-name:bounce_circularG;
animation-duration:1.2s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circularG_1{
left:0;
top:33px;
-moz-animation-delay:0.45s;
-webkit-animation-delay:0.45s;
-ms-animation-delay:0.45s;
-o-animation-delay:0.45s;
animation-delay:0.45s;
}

#circularG_2{
left:9px;
top:9px;
-moz-animation-delay:0.6s;
-webkit-animation-delay:0.6s;
-ms-animation-delay:0.6s;
-o-animation-delay:0.6s;
animation-delay:0.6s;
}

#circularG_3{
top:0;
left:33px;
-moz-animation-delay:0.75s;
-webkit-animation-delay:0.75s;
-ms-animation-delay:0.75s;
-o-animation-delay:0.75s;
animation-delay:0.75s;
}

#circularG_4{
right:9px;
top:9px;
-moz-animation-delay:0.9s;
-webkit-animation-delay:0.9s;
-ms-animation-delay:0.9s;
-o-animation-delay:0.9s;
animation-delay:0.9s;
}

#circularG_5{
right:0;
top:33px;
-moz-animation-delay:1.05s;
-webkit-animation-delay:1.05s;
-ms-animation-delay:1.05s;
-o-animation-delay:1.05s;
animation-delay:1.05s;
}

#circularG_6{
right:9px;
bottom:9px;
-moz-animation-delay:1.2s;
-webkit-animation-delay:1.2s;
-ms-animation-delay:1.2s;
-o-animation-delay:1.2s;
animation-delay:1.2s;
}

#circularG_7{
left:33px;
bottom:0;
-moz-animation-delay:1.35s;
-webkit-animation-delay:1.35s;
-ms-animation-delay:1.35s;
-o-animation-delay:1.35s;
animation-delay:1.35s;
}

#circularG_8{
left:9px;
bottom:9px;
-moz-animation-delay:1.5s;
-webkit-animation-delay:1.5s;
-ms-animation-delay:1.5s;
-o-animation-delay:1.5s;
animation-delay:1.5s;
}

@-moz-keyframes bounce_circularG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circularG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

} 